@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

.aboutCont {
  display: flex;
  flex-direction: row;
  /* width: 90vw; */
  padding: 0px 60px 50px 60px;
}
.panel:hover {
  box-shadow: 0 0 0 5px #fff, 0 0 0 4px #198a98c4;
  transition: unset;
}
.panel {
  overflow: scroll;
  background: rgba(96, 94, 94, 0.4);
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
  -webkit-transition: all 700ms ease-in;
}
.panel img {
  margin-top: 230px;
}
.panel:nth-of-type(3) img {
  margin-top: 200px;
}
.panel.active {
  flex: 5;
}
.panel::-webkit-scrollbar {
  display: none;
}
.underlined {
  /*   background: red; */
  font-size: 50px;
  position: relative;
}
.underline-clip:after {
  content: "";
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 6 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid rgb(18, 28, 210);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.word {
  position: relative;
  transform: translate(-50%, -50%);
  font-size: 40px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}
