.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.popup-body h3,
.popup-body h3 pre,
.popup-body h2,
.popup-body p,
.popup-body ul li {
  /* color: #285d80 !important; */
  font-family: "nooa";
  font-weight: 900;
}
.popup-body i {
  margin-right: 10px;
  /* color: #285d80 !important; */
}
.eventContact {
  padding: 0px 0px 30px 0px;
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  /* left: 0px;
  right: 0px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.eventTemp {
  padding: 0px 0px 30px 50px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  /* background: center center / auto 110% no-repeat rgba(7, 167, 192, 0.734); */
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  font-size: 25px;
  cursor: pointer;
  margin: 15px;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: #084066 0px 0px 10px 0px;
  position: relative;
}
#session-info {
  text-shadow: 0 0 0.5rem rgb(155, 15, 115), 0 0 0.5rem rgb(155, 15, 115),
    0 0 1rem rgb(155, 15, 115), 0 0 1rem rgb(155, 15, 115);
  /* color: rgb(255, 0, 212) !important; */
  position: absolute;
  bottom: 30px;
  color: rgba(245, 245, 245, 0.912);
  font-size: calc(
    10px + (15 - 10) * ((100vw - 320px) / (1280 - 320))
  ) !important;
}
.eventNames {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 75%;
  height: 250px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.eventCont {
  padding: 100px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./../images/bg5.jpeg);
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* .eventCont h1 {
  font-size: 50px;
  color: #084066;
  font-weight: 900;
  border-bottom: 2px solid black;
  background-color: #0079c9;
} */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 0.5s ease-in-out;
}
.nav-text {
  white-space: nowrap;
}
.eventSession {
  font-size: calc(1rem + 0.6vw);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 99999;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background: center center / auto 110% no-repeat rgba(11, 126, 144, 0.718);
  color: white;
  font-size: 24px;
  padding: 10px;
}

.popup-title {
  flex: 1;
  text-align: center;
}

.popup-body {
  flex: 1;
  font-size: 18px;
  padding: 30px;
  padding-bottom: 0px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-close {
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
}
