.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.popup-body h3,
.popup-body h3 pre {
  color: #285d80 !important;
  font-family: "nooa";
  font-weight: 900;
}
.popup-body button {
  background-color: #285d80;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 15px;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  box-shadow: #50a6df 0px 0px 10px 0px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background: center center / auto 110% no-repeat rgba(7, 167, 192, 0.734);
  color: rgb(255, 255, 255);
  font-size: 25px;
  cursor: pointer;
  margin: 15px;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: #084066 0px 0px 10px 0px;
}
.eventNames {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 75%;
  height: 250px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.eventCont {
  margin-top: 40px;
  padding: 100px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./../images/bg1.png);
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* .eventCont h1 {
  font-size: 50px;
  color: #084066;
  font-weight: 900;
  border-bottom: 2px solid black;
  background-color: #0079c9;
} */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background: center center / auto 110% no-repeat rgba(11, 126, 144, 0.718);
  color: white;
  font-size: 24px;
  padding: 10px;
}

.popup-title {
  flex: 1;
  text-align: center;
}

.popup-body {
  flex: 1;
  padding: 10px;
  background-color: #e1e1e1;
  color: #084066;
  font-size: 18px;
}

.popup-close {
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
}
