@font-face {
  font-family: "prime";
  src: url(./../fonts/PrimeRegular.ttf) format("truetype");
}
@font-face {
  font-family: "polaris";
  src: url(./../fonts/Polaris.otf) format("opentype");
}
@font-face {
  font-family: "alixa";
  src: url(./../fonts/AlixaBold-lg04Z.ttf) format("truetype");
}
@font-face {
  font-family: "nooa";
  src: url("./../fonts/NOOA\ Demi-Serif\ DEMO.ttf") format("truetype");
}
:root {
  --neonBG: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "polaris";
  color: rgb(217, 217, 218);
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto !important;
}
body {
  overflow-x: hidden;
  background: linear-gradient(
    109.6deg,
    rgba(190, 179, 207, 0.68) 11.5%,
    #19a7ce
  );
  scroll-behavior: smooth;
}
.text_container {
  padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1280 - 320))) !important;
}
p {
  margin: 0;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(4, 4, 4);
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.86, #000000)
  );
  box-shadow: 0 0 0.2rem #fff, inset 0 0 0.2rem #fff, 0 0 0.3rem rgb(255, 0, 0),
    inset 0 0 0.3rem rgb(255, 0, 0);
}
#preloader {
  background: url(./../images/bg5.jpeg) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999999999;
}
.footerText {
  font-family: nooa;
  font-size: 15px;
}
.contact-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialHandle i {
  font-size: 30px;
  color: #fff;
}
.panel #text3,
.panel ul li {
  color: #000000;
  font-weight: 900;
  text-shadow: unset !important;
}
.footerCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.register-info ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.register-info ul {
  list-style-type: none;
}
.register-info ul li:before {
  content: "➤";
  margin-right: 10px;
}

.socialHandle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-info h3 {
  font-family: sans-serif;
  font-size: 15px !important;
  font-weight: bolder;
  margin-bottom: 30px !important;
}

.contact-info p {
  font-size: calc(
    14px + (20 - 14) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  font-family: nooa;
  margin-bottom: 5px;
}
.contact-info h3 {
  padding-bottom: 5px !important;
  font-size: calc(
    14px + (20 - 14) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  border-bottom: #000000 solid 5px;
}

.contact-info p strong {
  font-weight: bold;
  font-family: nooa;
  margin-right: 10px;
}
.nav-link span {
  color: #1f4d9d;
  font-weight: 900;
}
#main {
  background: url(./../images/backg.png);
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-link {
  position: relative;
  opacity: 0.8;
}

.nav-link:hover {
  opacity: 1;
}
.nav-link::before {
  transition: 600ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: rgb(3, 127, 252);
}

.nav-link::before {
  width: 0%;
  bottom: 5px;
}

.nav-link:hover::before {
  width: 70%;
}

#svceLogo {
  margin: 75px 50px 50px 50px;
  height: auto;
  /* width: 30%; */
}
#svceLogo:nth-of-type(2) {
  width: calc(
    100px + (500 - 100) * ((100vw - 320px) / (1280 - 320))
  ) !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#isteLogo {
  padding: 20px;
  width: calc(
    110px + (160 - 110) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  margin-top: 50px;
}
#main {
  /* height: 180vh; */
  width: 100%;
}

.fluid-container {
  color: #fff;
  margin: 0.05rem 2rem;
  padding: 0.05rem 2rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#main_img {
  /* background-color: rgba(255, 255, 255, 0.3); */
  height: 7rem;
  border-radius: 10px;
  padding: 2rem;
  margin: 10px 10px;
  border-radius: 5px;
}

.logos-container {
  margin: 3rem 1rem 1rem 1rem;
}

#text1 {
  font-size: calc(
    10px + (35 - 10) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  font-family: "alixa";
  /* font-size: ; */
  padding: 0rem 2rem;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#text6 {
  font-family: "alixa";
  padding: 0;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
  font-size: calc(7px + (20 - 7) * ((100vw - 320px) / (1280 - 320))) !important;
}
.eventNames button:hover {
  padding: 200px !important;
  background-color: cornflowerblue;
}
.eventNames .button {
  text-shadow: 0 0 0.5rem rgb(7, 148, 255), 0 0 0.5rem rgb(7, 148, 255),
    0 0 1rem rgb(7, 148, 255), 0 0 1rem rgb(7, 148, 255);
  color: rgba(245, 245, 245, 0.912);
  /* color: #08f !important; */
  /* text-shadow: 2px 0 0rem rgb(104, 173, 234), 0px 2px 2rem rgb(104, 173, 234), 0 3px 0rem #08f, 0 0 1rem #08f; */
  letter-spacing: 3px;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
    inset 0 0 2rem #08f;
}
/* NEON COLORS */
.registerCont {
  background: var(--neonBG);
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
    inset 0 0 2rem #08f;
}
.clock-box {
  /* box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem rgb(255, 0, 0),
    inset 0 0 1rem rgb(255, 0, 0); */
  animation: glow 3s ease-in-out infinite;
}
.clock-box div,
.clock-box span {
  text-shadow: 0 0 1.3rem rgb(7, 148, 255) !important;
}
.panel {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem rgb(255, 0, 0),
    inset 0 0 1rem rgb(255, 0, 0);
  text-shadow: 0 0 0.2rem rgb(7, 148, 255);
}
.underlined,
#timed,
#sponsor-head {
  text-shadow: 0 0 0.5rem rgb(155, 15, 115), 0 0 0.5rem rgb(155, 15, 115),
    0 0 1rem rgb(155, 15, 115), 0 0 1rem rgb(155, 15, 115);
}
.registerCont button {
  text-shadow: 0 0 0.5rem rgb(255, 1, 1), 0 0 0.5rem rgb(255, 1, 1),
    0 0 0.3rem rgb(255, 1, 1), 0 0 0.3rem rgb(255, 1, 1);
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #00ff00,
    inset 0 0 1rem #00ff00;
  background-color: var(--neonBG);
  animation: glow1 3s ease-in-out infinite;
}
.timeline ul li {
  text-shadow: 0 0 0.2rem rgb(255, 1, 1), 0 0 0.2rem rgb(255, 1, 1),
    0 0 0.1rem rgb(255, 1, 1), 0 0 0.1rem rgb(255, 1, 1);
}
.timeline ul li div {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
    inset 0 0 2rem #08f;
  background-color: var(--neonBG);
}
#sponsors {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
    inset 0 0 2rem #08f;
  background-color: var(--neonBG);
}
.contact-info h3,
.contact-info p,
.footer-dark ul a,
#text1,
#text2,
#text4 {
  text-shadow: 0 0 0.2rem rgb(255, 7, 7);
}
.popup-body h2,
.popup-body ul li {
  text-shadow: 0 0 0.1rem rgb(255, 7, 7);
}
.popup-header {
  background: #000;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #00ff00,
    inset 0 0 2rem #00ff00;
}
.eventContact a {
  text-decoration: none;
  color: white;
  box-shadow: 0 0 0.2rem #fff, inset 0 0 0.2rem #fff, 0 0 1.2rem rgb(255, 7, 7),
    inset 0 0 1.2rem rgb(255, 7, 7);
  border: white;
  background-color: var(--neonBG);
  padding: 10px;
  margin: 10px;
  letter-spacing: 1.5px;
  animation: glow 3s ease-in-out infinite;
  text-shadow: 0 0 0.2rem rgb(255, 7, 7);
}
.eventDet {
  font-family: nooa;
  text-shadow: 0 0 0.2rem rgb(255, 7, 7);
  font-size: calc(
    10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))
  ) !important;
}
.eventDet b {
  font-family: nooa;
  text-shadow: 0 0 0.1rem rgb(255, 7, 7);
  font-size: calc(
    11px + (30 - 11) * ((100vw - 320px) / (1280 - 320))
  ) !important;
}
.footer-dark {
  background-color: var(--neonBG);
}
.socialHandle i {
  text-shadow: 0 0 1rem rgb(255, 7, 7), 0 0 1rem rgb(7, 7, 255),
    0 0 4rem rgb(255, 7, 7);
}
.footer-dark #contact .container .row {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #00ff00,
    inset 0 0 1rem #00ff00;
  padding: 40px;
  animation: glow1 3s ease-in-out infinite;
}
#prob #text_reged:nth-of-type(2n) {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #00ff00,
    inset 0 0 1rem #00ff00;
}
#prob #text_reged:nth-of-type(n) {
  text-shadow: 0 0 0.2rem rgb(255, 7, 7);
}
.offBearers {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.offBearers button {
  text-decoration: none;
  color: white;
  box-shadow: 0 0 0.2rem #fff, inset 0 0 0.2rem #fff, 0 0 1.2rem rgb(255, 7, 7),
    inset 0 0 1.2rem rgb(255, 7, 7);
  border: white;
  background-color: var(--neonBG);
  padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))) !important;
  margin: 10px;
  letter-spacing: 1.5px;
  animation: glow 3s ease-in-out infinite;
  text-shadow: 0 0 0.2rem rgb(255, 7, 7);
}
.text_container {
  padding: 20px;
  background-color: var(--neonBG) !important;
  box-shadow: 0.2rem 0.21rem 0.8rem #fff, inset 0.2rem 0.21rem 0.8rem #fff,
    0 0 1rem #ff007f, inset 0 0 1rem #ff007f;
  animation: glow2 12s ease-in-out infinite;
}
#prob button {
  box-shadow: 0.2rem 0.21rem 0.2rem #fff, inset 0.2rem 0.21rem 0.2rem #fff,
    0 0 0.7rem #ff007f, inset 0 0 0.7rem #ff007f;
}
::-webkit-scrollbar {
  width: 0;
}
.popup-body {
  overflow: scroll;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
    inset 0 0 2rem #08f;
  background-color: var(--neonBG);

  margin-top: 10px;
  color: white;
}

@keyframes glow2 {
  0% {
    box-shadow: 0.2rem 0.21rem 0.8rem #fff, inset 0.2rem 0.21rem 0.8rem #fff,
      0 0 1rem #ff007f, inset 0 0 1rem #ff007f;
  }
  25% {
    box-shadow: 0.2rem 0.21rem 0.8rem #fff, inset 0.2rem 0.21rem 0.8rem #fff,
      0 0 1.5rem #00ffff, inset 0 0 1.5rem #00ffff;
  }
  50% {
    box-shadow: 0.2rem 0.21rem 0.8rem #fff, inset 0.2rem 0.21rem 0.8rem #fff,
      0 0 1.5rem #ffd700, inset 0 0 1.5rem #ffd700;
  }
  75% {
    box-shadow: 0.2rem 0.21rem 0.8rem #fff, inset 0.2rem 0.21rem 0.8rem #fff,
      0 0 1.5rem #ff1493, inset 0 0 1.5rem #ff1493;
  }
  90% {
    box-shadow: 0.2rem 0.21rem 0.8rem #fff, inset 0.2rem 0.21rem 0.8rem #fff,
      0 0 1rem #00ff00, inset 0 0 1rem #00ff00;
  }
  100% {
    box-shadow: 0.2rem 0.21rem 0.8rem #fff, inset 0.2rem 0.21rem 0.8rem #fff,
      0 0 1rem #ff007f, inset 0 0 1rem #ff007f;
  }
}
@keyframes glow1 {
  0% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #00ff00,
      inset 0 0 1rem #00ff00;
  }
  50% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1.5rem #00ff00,
      inset 0 0 1.5rem #00ff00;
  }
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem #00ff00,
      inset 0 0 1rem #00ff00;
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem rgb(255, 0, 0),
      inset 0 0 1rem rgb(255, 0, 0);
  }
  50% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 1.6rem rgb(255, 0, 0), inset 0 0 1.6rem rgb(255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem rgb(255, 0, 0),
      inset 0 0 1rem rgb(255, 0, 0);
  }
}
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #000000;
  border-top: 16px double #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 3rem #00ffff,
    inset 0 0 3rem #00ffff;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 3rem #00ffff,
      inset 0 0 3rem #00ffff;
    transform: rotate(0deg);
  }
  25% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 3rem #39ff14,
      inset 0 0 3rem #39ff14;
  }
  50% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 3rem #f4ff81,
      inset 0 0 3rem #f4ff81;
  }
  75% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 3rem #ff9933,
      inset 0 0 3rem #ff9933;
  }
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 3rem #00ffff,
      inset 0 0 3rem #00ffff;
    transform: rotate(360deg);
  }
}

/* Hide the loader once the page is fully loaded */
.loaded #loader-overlay {
  display: none;
}

.register-info {
  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 1rem rgb(255, 0, 0),
    inset 0 0 1rem rgb(255, 0, 0);
}
.register-info ul li {
  text-shadow: 0 0 0.2rem rgb(7, 148, 255);
}
.panel .text,
.panel ul li {
  color: white !important;
}
.navbar {
  height: 15%;
  margin: 0px 20px 40px 20px;
  padding-top: 40px;
}
#text2 {
  font-size: 1.5rem;
  margin: 15px;
  font-size: calc(6px + (22 - 6) * ((100vw - 320px) / (1280 - 320))) !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#text_iete {
  font-size: 30px;
  color: #edf5e1;
  padding: 1rem 1rem;
  margin: 10px 10px;
}
.eventNames .button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #198a98c4;
}
#text_p {
  font-size: 20px;
  color: #edf5e1;
  padding: 1rem 1rem;
  margin: 10px 10px;
}

#text_make {
  font-size: 70px;
  color: #edf5e1;
  padding: 1rem 1rem;
  margin: 10px 10px;
}

hr {
  width: 80%;
}

.time-content {
  color: #edf5e1;
  font-size: 24px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#days,
#hours,
#minutes,
#seconds {
  background-color: #198a98c4;
  box-shadow: #198a98c4 0px 20px 30px -10px;
  border-radius: 10px;
  padding: 10px 2rem;
  margin: 15px 10px;
  color: #fff;
}
.launch-time {
  display: flex;
  font-size: 20px;
}

.launch-time div {
  flex-basis: 100px;
}

.launch-time div p {
  font-size: 60px;
}
.launch-time span {
  margin-right: 0;
}

#text_reg {
  font-size: 40px;
}

#btn-reg {
  border: 0.1rem solid;
  font-size: 20px;
  margin: 3rem 1rem;
}

#about .container {
  display: grid;
  grid-column: auto;
}

#about {
  background: var(--neonBG);
  color: rgba(245, 245, 245, 0.912);

  box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
    inset 0 0 2rem #08f;
  height: auto;
}

#abouted {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#img-abt {
  margin-bottom: 100px;
}

#abt {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
  color: #edf5e1;
}

#text3 {
  font-size: calc(
    10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  padding: 2rem;
  border-radius: 5px;
  font-family: "nooa";
}
li {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: calc(
    10px + (20 - 10) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  font-family: "nooa";
}

#text4 {
  font-size: calc(8px + (25 - 8) * ((100vw - 320px) / (1280 - 320))) !important;
  font-family: "polaris";
  opacity: 0.8;
  position: relative;
  color: #fffc00;
  letter-spacing: 0.1em;
  text-shadow: 3px 3px #1f57ff, 4px 4px #000000;

  text-shadow: 1px -1px 0 #42afac, -1px -1px 0 #0eafff;
}
#svceLogo:nth-of-type(3) {
  width: calc(30px + (120 - 30) * ((100vw - 320px) / (1280 - 320))) !important;
  margin-top: calc(100px + 0.8vw);
}
#text4 sup {
  font-size: calc(0.3rem + 0.8vw);
  color: #fffc00;
}
#content {
  font-size: 15px;
  padding-top: 60px;
}

#btn-abt {
  border: 0.1rem solid;
  font-size: 20px;
  margin: 1rem 1rem;
}

#problem-statements {
  background: url(./../images/bg5.jpeg);
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#timed {
  font-size: 60px;
  margin: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timed1 {
  font-size: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edf5e1;
}

#text_time {
  font-size: 30px;
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  background: url(./../images/bg5.jpeg);
  background-size: cover;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px;
}
.timeline ul {
  padding: 0px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #05386b;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 25px;
  /* background: #198a98c4; */
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #198a98c4 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #198a98c4;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}
.timeline ul li div {
  font-family: "nooa";
}
.timeline ul li.in-view::after {
  background: #05386b;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#text_reged {
  font-size: 30px;
  /* margin: 2rem 2rem; */
}
#prob #text_reged:nth-of-type(odd) {
  margin-top: calc(
    30px + (60 - 30) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  color: #ffffff;
}
#prob #text_reged:nth-of-type(even) {
  border: 1px solid #ffffff;
  padding: calc(2px + (8 - 2) * ((100vw - 320px) / (1280 - 320))) !important;
}
#btn-reged {
  font-size: 20px;
  border: 0.1rem solid;
  margin: 1rem 2rem;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background: #d83f87;
  color: #edf5e1;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}

.bg-custom1 {
  background-image: linear-gradient(
    109.6deg,
    rgba(190, 179, 207, 0.68) 11.5%,
    #084066
  );
}

.accordion-header {
  color: white;
}
.bg-custom {
  background-color: #44318d;
}

#problem-statements li {
  color: #edf5e1;
}

#text_reged {
  color: #edf5e1;
}

#sponsor-head {
  font-size: 70px;
  padding-bottom: 40px;
  padding-top: 40px;
}

#sponsors .fluid-container {
  padding-bottom: 80px;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}
.eventInfo i {
  font-size: calc(
    14px + (30 - 14) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  color: rgb(157 173 13);
}
.eventInfo span {
  margin: 20px 10px;
  /* margin-left: 10px; */
  word-spacing: calc(
    5px + (10 - 5) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  letter-spacing: 0.2px;
  font-size: calc(
    14px + (30 - 14) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  color: rgb(157 173 13);
  font-weight: 900;
}
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
.eventInfo {
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  font-family: nooa;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
/* .fluid-container {
} */
.text_container {
  position: relative;
  /* padding: 0 10rem 8rem; */
  /* background: rgb(113 109 109 / 44%); */
  margin: 4rem 0;
  border-radius: 20px;
}
.navbar {
  /* background-color: rgb(0, 0, 0, 0.4); */
}

.text-center {
  font-size: calc(
    20px + (40 - 20) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  font-family: nooa;
  font-weight: 900;
}
.text-center:nth-child(2) {
  font-family: nooa;
  font-size: calc(
    16px + (33 - 16) * ((100vw - 320px) / (1280 - 320))
  ) !important;
  font-weight: unset;
  padding-bottom: 70px;
}
@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 450px) {
  .navbar {
    margin: unset;
  }
}
@media screen and (min-width: 1285px) and (max-width: 1515px) {
  * {
  }
  .nav-link span {
    font-size: 18px;
  }
  #text1 {
    font-size: 2.5rem;
  }
  .eventNames {
    height: unset;
    width: 80%;
    flex-direction: unset;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1284px) {
  .nav-link span {
    font-size: 16px;
  }
  #text1 {
    font-size: 1.7rem;
  }
  #text2 {
    font-size: 1.2rem;
  }
  #text4 {
    font-size: 1.25rem;
  }
  .eventInfo span {
    font-size: 15px;
  }
  .eventNames {
    height: unset;
    width: 80%;
    flex-direction: unset;
  }
  .underlined {
    font-size: 40px;
  }
  .button {
    width: 325px;
    height: 250px;
    font-size: 23px;
  }
  .text-center:nth-child(2) {
    /* font-size: 22px !important; */
    padding-bottom: 30px;
  }
  .aboutCont {
    padding: 0 60px 50px 60px;
  }
  #text3 {
    font-size: 1.2rem;
  }
  li {
    font-size: 1.1rem;
  }
  #timed {
    font-size: 40px;
  }
  #sponsor-head {
    font-size: 40px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1049px) {
  #svceLogo {
    transform: scale(1.5) !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1049px) {
  #svceLogo {
    transform: scale(2);
    padding: unset;
  }
  #navbarNav {
    margin-right: -80px;
  }
  .text_container {
    padding: 0 3rem 8rem;
  }
  #text2 {
    font-size: 1.2rem;
    margin: 20px;
  }
  .nav-link span {
    font-size: 16px;
  }
  #text1 {
    font-size: 1.7rem;
  }
  #text4 {
    font-size: 1.25rem;
  }
  .eventInfo span {
    font-size: 15px;
  }
  .eventNames {
    height: unset;
    width: 80%;
    flex-direction: unset;
  }
  .underlined {
    font-size: 40px;
  }
  .button {
    width: 250px;
    height: 200px;
    font-size: 20px;
  }
  .text-center:nth-child(2) {
    /* font-size: 22px !important; */
    padding-bottom: 40px !important;
  }
  .aboutCont {
    padding: 0 60px 50px 60px;
  }
  #text3 {
    font-size: 1rem;
  }
  li {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
  #timed {
    font-size: 40px;
  }
  #sponsor-head {
    font-size: 40px;
  }
  .popup-body ul li {
    font-size: 18px;
  }
  .eventContact {
    font-size: 17px;
  }
  .timeline ul {
    margin-top: -80px;
  }
  .footerCont {
    margin-bottom: 24px;
  }
}
@media screen and (max-height: 640px) {
  .eventContact {
    position: relative !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 899px) {
  #svceLogo {
    transform: scale(1.8);
    padding: unset;
  }
  #navbarNav {
    margin-right: -80px;
    padding-right: 20px;
  }
  .text_container {
    padding: 0 3rem 8rem;
  }
  #text1 {
    font-size: 1.5rem;
  }
  #text2 {
    font-size: 1rem;
    margin: 20px;
  }
  .nav-link span {
    font-size: 13px;
  }
  #text4 {
    font-size: 1.1rem;
  }
  .eventInfo span {
    font-size: 14px;
  }
  .eventNames {
    height: unset;
    width: 80%;
    flex-direction: unset;
  }
  .underlined {
    font-size: 40px;
  }
  .button {
    width: 250px;
    height: 200px;
    font-size: 20px;
  }
  .text-center:nth-child(2) {
    /* font-size: 22px !important; */
    padding-bottom: 40px !important;
  }
  .aboutCont {
    padding: 0 60px 50px 60px;
  }
  #text3 {
    font-size: 1rem;
  }
  li {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
  #timed {
    font-size: 40px;
  }
  #sponsor-head {
    font-size: 40px;
  }
  .popup-body ul li {
    font-size: 18px;
  }
  .eventContact {
    font-size: 17px;
  }
  .timeline ul {
    margin-top: -80px;
  }
  .footerCont {
    margin-bottom: 24px;
  }
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}
@media screen and (max-width: 768px) {
  #svceLogo {
    margin: 0 40px 0 20px !important;
  }
  #isteLogo {
    margin: unset;
  }
}
@media screen and (min-width: 650px) and (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: none;
    width: 100%;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.577);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    animation: navbarCollapseIn 2s ease;
  }

  .navbar-collapse.show {
    display: block;
  }
  .navbar-nav {
    flex-direction: column;
    margin-bottom: 0;
  }
  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
  .navbar-nav .nav-item:last-child {
    margin-bottom: 0;
  }
  .popup-header {
    padding: 35px 10px 35px 10px;
  }
  .panel {
    flex: 0.7;
  }
  .nav-link::before {
    width: 0%;
    bottom: 5px;
    left: 10;
  }

  .nav-link:hover::before {
    width: 100%;
  }
  .navbar > .container {
    flex-wrap: nowrap;
  }
  #svceLogo {
    transform: scale(1.8);
    padding: unset;
    margin: unset;
  }
  #svceLogo:nth-of-type(3) {
    margin-top: unset;
  }
  #isteLogo {
    margin: unset;
  }
  #navbarNav {
    margin-right: -80px;
    padding-right: 20px;
  }
  .text_container {
    padding: 0 3rem 8rem;
  }
  #text1 {
    font-size: 1.17rem;
  }
  #text2 {
    font-size: 0.8rem;
    margin: 20px;
  }
  .nav-link span {
    font-size: 13px;
  }
  #text4 {
    font-size: 0.88rem;
  }
  .eventInfo span {
    font-size: 11px;
  }
  .eventNames {
    height: unset;
    width: 80%;
    flex-direction: unset;
  }
  .underlined {
    font-size: 40px;
  }
  .button {
    width: 200px;
    height: 150px;
    font-size: 15px;
  }
  .text-center:nth-child(2) {
    /* font-size: 18px !important; */
    padding-bottom: 40px !important;
  }
  #btn-reged {
    font-size: 15px;
  }
  .aboutCont {
    padding: 0 60px 50px 60px;
  }
  #text_reged {
    font-size: 25px;
  }
  #text3 {
    font-size: 1rem;
  }
  li {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
  #timed {
    font-size: 40px;
  }
  #sponsor-head {
    font-size: 40px;
  }
  .popup-body ul li {
    font-size: 18px;
  }
  .eventContact {
    font-size: 17px;
  }
  .timeline ul {
    margin-top: -80px;
  }
  .footerCont {
    margin-bottom: 24px;
  }
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}
@media screen and (max-width: 649px) {
  .navbar-toggler {
    margin-left: 50px;
  }
  #isteLogo {
    width: 90px;
  }
  #main {
    /* height: 80vh; */
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: none;
    width: 100%;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.577);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    animation: navbarCollapseIn 2s ease;
  }

  .navbar-collapse.show {
    display: block;
  }
  .navbar-nav {
    flex-direction: column;
    margin-bottom: 0;
  }
  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
  .navbar-nav .nav-item:last-child {
    margin-bottom: 0;
  }
  .popup-header {
    padding: 35px 10px 35px 10px;
  }
  .panel {
    flex: 1.3;
  }
  .nav-link::before {
    width: 0%;
    bottom: 5px;
    left: 10;
  }

  .nav-link:hover::before {
    width: 100%;
  }
  .navbar > .container {
    flex-wrap: nowrap;
  }
  #svceLogo {
    transform: scale(1.8);
    padding: unset;
  }
  #navbarNav {
    margin-right: -80px;
    padding-right: 20px;
  }
  .text_container {
    width: 96vw;
    padding: 1rem 0rem 0rem;
  }
  #text1 {
    font-size: 0.89rem;
  }
  #text2 {
    font-size: 0.6rem;
    margin: 20px;
  }
  .nav-link span {
    font-size: 13px;
  }
  #text4 {
    font-size: 0.7rem;
  }
  h4 {
    font-size: unset;
  }
  .eventInfo span {
    font-size: 8px;
  }
  .eventInfo I {
    font-size: 0.8rem;
  }
  .register-info ul li {
    font-size: 14px;
  }
  .eventNames {
    height: unset;
    width: 80%;
    flex-direction: unset;
  }
  .underlined {
    font-size: 20px;
  }
  .button {
    width: 200px;
    height: 150px;
    font-size: 15px;
  }
  .text-center:nth-child(2) {
    /* font-size: 13px !important; */
    padding-bottom: 40px !important;
  }
  #btn-reged {
    font-size: 10px;
  }
  .aboutCont {
    padding: 0 0px 50px 0px;
  }
  #text_reged {
    font-size: 20px;
  }
  .registerCont button {
    width: 40%;
  }
  #text3 {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
  li {
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }
  #timed {
    font-size: 20px;
  }
  #sponsor-head {
    font-size: 20px;
  }
  .popup-body ul li {
    font-size: 14px;
  }
  .popup-title {
    font-size: 20px;
  }
  .eventContact {
    font-size: 17px;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 140px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #198a98c4 transparent transparent;
  }
}
@media screen and (max-width: 440px) {
  .popup-body ul li {
    font-size: 12px;
  }
  .eventContact {
    font-size: 13px;
  }
  .popup-title {
    font-size: 15px;
  }
}
@media screen and (max-width: 340px) {
  .popup-body ul li {
    font-size: 10px;
  }
  .eventContact {
    font-size: 13px;
  }
}
/* @media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    250+45-6
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #198a98c4 transparent transparent;
  }
}

@media screen and (max-width: 1305px) {
  #about-img {
    width: 700px;
    height: auto;
    margin-left: -70px;
  }
  #about {
    height: auto;
  }

  #text3 {
    font-size: 15px;
    margin-top: -40px;
    color: #edf5e1;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .text4 {
    font-size: 1rem;
  }
  .fluid-container {
    color: #fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #svceLogo {
    width: 30%;
  }

  #isteLogo {
    width: 130px;
  }

  #main {
    height: auto;
  }

  #text1 {
    font-size: 2.4rem;
  }

  #text2 {
    font-size: 1.3rem;
  }

  #text_iete {
    font-size: 25px;
    color: #edf5e1;
  }

  #text_p {
    font-size: 16px;
    color: #edf5e1;
  }

  #text_make {
    font-size: 40px;
    color: #edf5e1;
  }

  #main_img {
    height: 5rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    margin: 10px 10px;
    border-radius: 5px;
  }
  #abouted {
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .time-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  #about-img {
    width: 600px;
    margin-top: -20px;
    margin-left: -70px;
  }

  #about .fluid-container {
    margin-top: -70px;
  }
  #days,
  #hours,
  #minutes,
  #seconds {
    background-color: #198a98c4;
    box-shadow: #198a98c4 0px 20px 30px -10px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 10px;
    color: #fff;
  }

  .launch-time div {
    flex-basis: 100px;
  }

  .launch-time div p {
    font-size: 50px;
  }
  .launch-time span {
    margin-right: 0;
  }

  span {
    font-size: 16px;
  }

  #text_reg {
    font-size: 20px;
  }

  #btn-reg {
    font-size: 20px;
  }

  #abt {
    font-size: 50px;
    padding-bottom: 40px;
    color: #edf5e1;
  }

  #about {
    height: auto;
  }

  #img-abt {
    margin-bottom: 70px;
  }

  #text3 {
    font-size: 1.2rem;
  }

  #btn-abt {
    font-size: 15px;
  }

  #timed {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .timeline ul {
    margin-top: -80px;
  }

  #times {
    font-size: 12px;
  }

  #timed1 {
    font-size: 70px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .accordion-item {
    font-size: 15px;
  }

  #text_reged {
    font-size: 30px;
    color: #edf5e1;
  }

  #sponsor-head {
    font-size: 70px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .fluid-container {
    color: #fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #text4 {
    font-size: 2rem;
  }
  #svceLogo {
    width: 30%;
  }

  #isteLogo {
    width: 130px;
  }

  #main {
    height: auto;
  }

  #text1 {
    font-size: 2rem;
  }

  #text2 {
    font-size: 1.7rem;
  }
  .eventInfo span {
    font-size: 0.9rem;
  }
  .eventInfo i:nth-child(2) {
  }
  #text_iete {
    font-size: 32px;
    color: #edf5e1;
  }

  #text_p {
    font-size: 20px;
    color: #edf5e1;
  }

  #text_make {
    font-size: 50px;
    color: #edf5e1;
  }

  #main_img {
    height: 5rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    margin: 10px 10px;
    border-radius: 5px;
  }
  .time-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  #about {
    height: auto;
  }

  #img-abt {
    margin-bottom: 70px;
  }

  #abouted {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  #days,
  #hours,
  #minutes,
  #seconds {
    background-color: #198a98c4;
    box-shadow: #198a98c4 0px 20px 30px -10px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 10px;
    color: #fff;
  }

  .launch-time div {
    flex-basis: 100px;
  }

  .launch-time div p {
    font-size: 50px;
  }
  .launch-time span {
    margin-right: 0;
  }

  span {
    font-size: 16px;
  }

  #text_reg {
    font-size: 30px;
  }

  #btn-reg {
    font-size: 20px;
  }

  #abt {
    font-size: 50px;
    padding-bottom: 40px;
    color: #edf5e1;
  }

  #text3 {
    font-size: 1rem;
  }

  #img-abt {
    width: 700px;
    height: auto;
  }

  #btn-abt {
    font-size: 15px;
  }

  #timed {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .timeline ul {
    margin-top: -80px;
  }

  #times {
    font-size: 12px;
  }

  #timed1 {
    font-size: 70px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .accordion-item {
    font-size: 15px;
  }

  #text_reged {
    font-size: 30px;
    color: #edf5e1;
  }

  #sponsor-head {
    font-size: 70px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 900px) and (max-width: 992px) {
  .fluid-container {
    background-color: none;
    color: #fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #text4 {
    font-size: 1.6rem;
  }
  #svceLogo {
    width: 30%;
  }

  #main {
    height: auto;
  }

  #isteLogo {
    width: 130px;
  }

  #text1 {
    font-size: 1.6rem;
  }

  #text2 {
    font-size: 1.6rem;
  }

  #text_iete {
    font-size: 25px;
    color: #edf5e1;
  }

  #text_p {
    font-size: 18px;
    color: #edf5e1;
  }

  #text_make {
    font-size: 40px;
    color: #edf5e1;
  }

  #main_img {
    height: 5rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    margin: 10px 10px;
    border-radius: 5px;
  }

  .time-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .eventInfo span {
    font-size: 0.8rem;
  }

  #days,
  #hours,
  #minutes,
  #seconds {
    background-color: #198a98c4;
    box-shadow: #198a98c4 0px 20px 30px -10px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 10px;
    color: #fff;
  }

  .launch-time div {
    flex-basis: 100px;
  }

  .launch-time div p {
    font-size: 50px;
  }
  .launch-time span {
    margin-right: 0;
  }

  span {
    font-size: 16px;
  }

  #text_reg {
    font-size: 30px;
  }

  #btn-reg {
    font-size: 20px;
  }

  #abt {
    font-size: 60px;
    padding-bottom: 10px;
    color: #edf5e1;
  }

  #abouted {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #img-abt {
    min-width: 500px;
  }

  #text3 {
    font-size: 1rem;
  }

  #btn-abt {
    font-size: 15px;
  }

  #timed {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .timeline ul {
    margin-top: -80px;
  }

  #times {
    font-size: 12px;
  }

  #timed1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .accordion-item {
    font-size: 12px;
  }

  #text_reged {
    font-size: 30px;
    color: #edf5e1;
  }

  #sponsor-head {
    font-size: 60px;
    padding-bottom: 10px;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  #navbarNav {
    padding-top: 20px;
  }
  #text4 {
    font-size: 1.6rem;
  }
  #svceLogo {
    height: 100px;
    width: 90px;
  }

  #isteLogo {
    padding-top: 20px;
    padding-left: 20px;
    height: 90px;
    width: 90px;
  }

  #main {
    height: auto;
  }
  .eventInfo span {
    font-size: 0.6rem;
  }
  .fluid-container {
    background-color: none;
    color: #fff;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #text1 {
    font-size: 1.4rem;
  }

  #text2 {
    font-size: 1.2rem;
  }
  .text_container {
    padding: 0rem 5rem 5rem 5rem;
  }

  #text_p {
    font-size: 20px;
    color: #edf5e1;
  }

  #text_make {
    font-size: 50px;
    color: #edf5e1;
  }

  #main_img {
    height: 5rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    margin: 10px 10px;
    border-radius: 5px;
  }

  .time-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  #about-img {
    width: 700px;
  }

  #days,
  #hours,
  #minutes,
  #seconds {
    background-color: #198a98c4;
    box-shadow: #198a98c4 0px 20px 30px -10px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 10px;
    color: #fff;
  }

  .launch-time div {
    flex-basis: 100px;
  }

  .launch-time div p {
    font-size: 50px;
  }
  .launch-time span {
    margin-right: 0;
  }

  span {
    font-size: 16px;
  }

  #text_reg {
    font-size: 30px;
  }

  #btn-reg {
    font-size: 20px;
  }

  #abt {
    font-size: 60px;
    color: #edf5e1;
  }

  #abouted {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #img-abt {
    min-width: 400px;
  }

  #text3 {
    font-size: 1rem;
  }

  #btn-abt {
    font-size: 15px;
  }

  #timed {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .timeline ul {
    margin-top: -80px;
  }

  #times {
    font-size: 12px;
  }

  #timed1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .accordion-item {
    font-size: 12px;
  }

  #text_reged {
    font-size: 30px;
    color: #edf5e1;
  }

  #sponsor-head {
    font-size: 60px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  #main {
    height: auto;
  }

  #svceLogo {
    height: 100px;
    width: 90px;
  }

  #isteLogo {
    padding-top: 20px;
    padding-left: 20px;
    height: 90px;
    width: 90px;
  }
  .eventInfo span {
    font-size: 0.4rem;
  }
  .fluid-container {
    background-color: none;
    color: #fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #text1 {
    font-size: 0.95rem;
  }

  #text2 {
    margin: 10px;
    font-size: 0.7rem;
  }
  #text4 {
    font-size: 1.3rem;
  }
  .eventInfo i {
    font-size: 0.7rem;
  }
  .eventInfo {
    font-size: 1rem;
  }
  .text_container {
    padding: 0rem 2rem 3rem 2rem;
  }
  #text_iete {
    font-size: 15px;
    color: #edf5e1;
  }

  #text_p {
    font-size: 12px;
    color: #edf5e1;
    margin-top: -30px;
  }

  #text_make {
    font-size: 30px;
    color: #edf5e1;
    margin-top: -30px;
  }

  .logos_container {
    margin-top: -40px;
  }

  #main_img {
    height: 4rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    margin: 10px 10px;
    border-radius: 5px;
  }

  #days,
  #hours,
  #minutes,
  #seconds {
    background-color: #198a98c4;
    box-shadow: #198a98c4 0px 20px 30px -10px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 10px;
    color: #fff;
  }

  .launch-time div {
    flex-basis: 100px;
  }

  .launch-time div p {
    font-size: 30px;
  }
  .launch-time span {
    margin-right: 0;
  }

  #abt {
    padding-bottom: 40px;
    font-size: 40px;
    color: #edf5e1;
  }

  #abouted {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #img-abt {
    min-width: 200px;
  }

  #about-img {
    width: 300px;
    height: auto;
  }

  span {
    font-size: 14px;
  }

  #text_reged {
    color: #edf5e1;
  }

  #text_reg {
    font-size: 30px;
    color: #edf5e1;
  }

  #btn-reg {
    font-size: 20px;
  }

  #text3 {
    font-size: 0.9rem;
  }

  #btn-abt {
    font-size: 15px;
  }

  #timed {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .timeline ul {
    margin-top: -80px;
  }

  #times {
    font-size: 12px;
  }

  #timed1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .accordion-item {
    font-size: 12px;
  }

  #text_reged {
    font-size: 30px;
  }

  #sponsor-head {
    font-size: 40px;
    padding-bottom: 90px;
  }
} */

/* TIMER Responsive */
@media screen and (max-width: 1100px) {
  .clock-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem;
    padding: 1.3rem 1.4rem;
    border-radius: 10px;
    box-shadow: -4px -6px 34px 3px rgba(0, 0, 0, 0.75);
  }

  .registerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  .registerCont button {
    width: 40%;
    min-width: 30%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 1.5rem;
    /* background: linear-gradient(0deg, rgba(84, 99, 133, 0.68) 11.5%, #62cdff); */
    border-radius: 10px;
    padding: 1rem;
    box-shadow: -2px -3px 20px 1px rgba(0, 0, 0, 0.75);
  }
}
@media screen and (max-width: 560px) {
  .clock-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem 1.2rem;
    border-radius: 7px;
    box-shadow: -4px -6px 34px 3px rgba(0, 0, 0, 0.75);
  }

  .clock-label {
    font-size: 1rem;
    margin-right: 1rem;
    border-bottom: 2px solid black;
  }
  .registerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .registerCont button {
    width: 40%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 1.2rem;
    /* background: linear-gradient(0deg, rgba(84, 99, 133, 0.68) 11.5%, #62cdff); */
    border-radius: 10px;
    padding: 0.7rem;
    box-shadow: -2px -3px 20px 1px rgba(0, 0, 0, 0.75);
  }
}
@media screen and (max-width: 685px) {
  .clock-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem 1.2rem;
    border-radius: 7px;
    box-shadow: -4px -6px 34px 3px rgba(0, 0, 0, 0.75);
  }
  #timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 16rem;
    align-content: space-around;
  }

  .clock-label {
    font-size: 1rem;
    margin-right: 1rem;
    border-bottom: 2px solid black;
  }
  .registerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 5px;
  }

  .registerCont button {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 1.2rem;
    /* background: linear-gradient(0deg, rgba(84, 99, 133, 0.68) 11.5%, #62cdff); */
    border-radius: 10px;
    padding: 0.7rem;
    box-shadow: -2px -3px 20px 1px rgba(0, 0, 0, 0.75);
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: calc(8px + (13 - 8) * ((100vw - 420px) / (1280 - 420))) !important;
}

th,
td {
  font-family: "nooa";
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 0.1rem #fff, inset 0 0 0.1rem #fff, 0 0 0.2rem rgb(255, 0, 0),
    inset 0 0 0.2rem rgb(255, 0, 0);
  padding: 8px;
  text-align: center;
}
td b {
  font-family: "nooa";
  text-transform: uppercase;
}

th {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--neonBG);
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: var(--neonBG);
}

/* @media (max-width: 600px) {
  table {
    font-size: 7px;
  }
} */
